<div class="signup">
  <h2 class="title">Sign Up:</h2>
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="signupForm">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input class="form-control" formControlName="email" type="text" />
      <label for="username">Username:</label>
      <input class="form-control" formControlName="username" type="text" />
      <label for="password">Password:</label>
      <input class="form-control" formControlName="password" type="password" />
    </div>
    <button
      [disabled]="!signupForm.valid"
      type="submit"
      class="btn btn-success"
    >
      Sign Up
    </button>
  </form>
</div>
